<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gra.gao.gra.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="gra.gao.gra.entity.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmt_created" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmt_updated" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="author_id" jdbcType="BIGINT" property="author_id" />
    <result column="article_id" jdbcType="BIGINT" property="article_id" />
    <result column="parent_id" jdbcType="BIGINT" property="parent_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_updated, content, deleted, author_id, article_id, parent_id
  </sql>
  <select id="selectByExample" parameterType="gra.gao.gra.entity.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from g_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from g_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from g_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="gra.gao.gra.entity.Comment" useGeneratedKeys="true">
    insert into g_comment (gmt_created, gmt_updated, content, 
      deleted, author_id, article_id, 
      parent_id)
    values (#{gmt_created,jdbcType=TIMESTAMP}, #{gmt_updated,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT}, #{author_id,jdbcType=BIGINT}, #{article_id,jdbcType=BIGINT}, 
      #{parent_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="gra.gao.gra.entity.Comment" useGeneratedKeys="true">
    insert into g_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmt_created != null">
        gmt_created,
      </if>
      <if test="gmt_updated != null">
        gmt_updated,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="author_id != null">
        author_id,
      </if>
      <if test="article_id != null">
        article_id,
      </if>
      <if test="parent_id != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmt_created != null">
        #{gmt_created,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_updated != null">
        #{gmt_updated,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="author_id != null">
        #{author_id,jdbcType=BIGINT},
      </if>
      <if test="article_id != null">
        #{article_id,jdbcType=BIGINT},
      </if>
      <if test="parent_id != null">
        #{parent_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gra.gao.gra.entity.Comment">
    update g_comment
    <set>
      <if test="gmt_created != null">
        gmt_created = #{gmt_created,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_updated != null">
        gmt_updated = #{gmt_updated,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="author_id != null">
        author_id = #{author_id,jdbcType=BIGINT},
      </if>
      <if test="article_id != null">
        article_id = #{article_id,jdbcType=BIGINT},
      </if>
      <if test="parent_id != null">
        parent_id = #{parent_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="gra.gao.gra.entity.Comment">
    update g_comment
    set gmt_created = #{gmt_created,jdbcType=TIMESTAMP},
      gmt_updated = #{gmt_updated,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      author_id = #{author_id,jdbcType=BIGINT},
      article_id = #{article_id,jdbcType=BIGINT},
      parent_id = #{parent_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>