<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gra.gao.gra.mapper.GuestMapper">
  <resultMap id="BaseResultMap" type="gra.gao.gra.entity.Guest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmt_created" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmt_updated" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="g_password" jdbcType="VARCHAR" property="g_password" />
    <result column="g_uuid" jdbcType="CHAR" property="g_uuid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_updated, username, nickname, g_password, g_uuid
  </sql>
  <select id="selectByExample" parameterType="gra.gao.gra.entity.GuestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from g_guest
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from g_guest
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from g_guest
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="gra.gao.gra.entity.Guest" useGeneratedKeys="true">
    insert into g_guest (gmt_created, gmt_updated, username, 
      nickname, g_password, g_uuid
      )
    values (#{gmt_created,jdbcType=TIMESTAMP}, #{gmt_updated,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{g_password,jdbcType=VARCHAR}, #{g_uuid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="gra.gao.gra.entity.Guest" useGeneratedKeys="true">
    insert into g_guest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmt_created != null">
        gmt_created,
      </if>
      <if test="gmt_updated != null">
        gmt_updated,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="g_password != null">
        g_password,
      </if>
      <if test="g_uuid != null">
        g_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmt_created != null">
        #{gmt_created,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_updated != null">
        #{gmt_updated,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="g_password != null">
        #{g_password,jdbcType=VARCHAR},
      </if>
      <if test="g_uuid != null">
        #{g_uuid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gra.gao.gra.entity.Guest">
    update g_guest
    <set>
      <if test="gmt_created != null">
        gmt_created = #{gmt_created,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_updated != null">
        gmt_updated = #{gmt_updated,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="g_password != null">
        g_password = #{g_password,jdbcType=VARCHAR},
      </if>
      <if test="g_uuid != null">
        g_uuid = #{g_uuid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="gra.gao.gra.entity.Guest">
    update g_guest
    set gmt_created = #{gmt_created,jdbcType=TIMESTAMP},
      gmt_updated = #{gmt_updated,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      g_password = #{g_password,jdbcType=VARCHAR},
      g_uuid = #{g_uuid,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>