<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你好，这是Gao的博客</title>
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/mycss/introduction.css" rel="stylesheet">
    <link href="../css/mycss/mycss.css" rel="stylesheet">
    <script src="../js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="../js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../js/vue.min.js" type="application/javascript"></script>

<script>
 function  getQueryVariable (variable){
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                         var pair = vars[i].split("=");
                            if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
        }
</script>

    <script>
        window.onload = function(){
            var url = "http://localhost:8848/articles/catalog/1";
            var vm = new Vue({
                el:'#gcatalog',
                data:{
                    code: 0,
                    list:[],
                    content_url:"http://localhost:8848/html/atcDetails.html?id=",
                    cur_page :1,
                    total_page:0,
                },
                created:function(){
                    this.getCatalog();
                },
                mounted:function(){
                },
                methods:{
                    getCatalog:function(){
                        $.ajax({
                            type: 'get',
                            sync: true,
                            //contentType: "application/x-www-form-urlencoded; charset=utf-8",//x-www-form-urlencoded
                            url:  url,
                            data:{},
                        dataType: 'json',
                            success: function (result) {
                                //console.log(result.code);
                            vm.code = result.code;
                            vm.list = result.message;
                        }
                    });
                    $.ajax({
                                          type: 'post',
                                          sync: false,
                                          url:  'http://localhost:8848/articles/catalog/pagenum',
                                          contentType: 'application/json;charset=UTF-8',
                                          dataType: 'json',
                                          success: function (result) {
                                              //console.log(result.code);
                                          vm.code = result.code;
                                          if(vm.code==200){
                                            vm.total_page = result.message;
                                          }
                                          else{
                                            vm.total_page=0;
                                          }
                                      }
                                  });

                    },

                    channgePage:function(){
                              if(vm.cur_page<=0) {
                                vm.cur_page=1;
                                return;
                              }
                              if(vm.cur_page>vm.total_page){
                                vm.cur_page=vm.total_page;
                                return ;
                              }
                              $.ajax({
                                      type: 'get',
                                      sync: false,
                                      url:  'http://localhost:8848/articles/catalog/'+vm.cur_page,
                                      contentType: 'application/json;charset=UTF-8',
                                      dataType: 'json',
                                      success: function (result) {
                                          //console.log(result.code);
                                      vm.code = result.code;
                                      if(vm.code==200){
                                        vm.list = result.message;
                                      }
                                      else{
                                        vm.list=[];
                                      }
                                  }
                              });
                            },
                    }

            });
        }

    </script>
</head>
<body>
<nav class="navbar navbar-default my-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                <img  class="my-logo" alt="GAO" src="../img/logo.jpg"  >
                <span>首页</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!--<ul class="nav navbar-nav">

                           <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">个人资料</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">注销</a></li>
                                </ul>
                            </li>
                        </ul>-->

            <form class="navbar-form navbar-left my-search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" id="v_user">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nickname}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">注销登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<img src="../img/wh.jpg" width="80%" height="150px">

<div class="panel panel-default my-panel">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-lg-8 col-sm-8 col-sm-8" id="gcatalog">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" v-if="code==200" v-for="json in list" ><div><div class="my-tittle" ><a :href="content_url+json.id">{{json.tittle}}</a></div><div class="my-t-date"><span>最近修改：{{json.gmt_updated}} &nbsp;&nbsp;&nbsp;评论数：10 &nbsp;&nbsp;&nbsp;点赞数：10</span></div></div></li>
                    </ul>
                </div>
                <ul class="pagination">
                                  <li class="first_page" @click="cur_page=1,channgePage()" v-if="cur_page!=1"><a>第一页</a></li>
                                  <li  @click="cur_page--,channgePage()" v-if="cur_page>1"><span>«</span></li>
                                  <li class="active"><span>{{cur_page}}</span></li>
                                  <li><a @click="cur_page++,channgePage()" v-if="total_page>cur_page">{{cur_page+1}}</a></li>
                                  <li class="disabled" v-if="total_page-cur_page>2"><span>...</span></li>
                                  <li><a @click="cur_page=total_page-1,channgePage()" v-if="total_page-cur_page>2">{{total_page-1}}</a></li>
                                  <li  @click="cur_page++,channgePage()" v-if="total_page>cur_page"><a>»</a></li>
                                  <li class="lastest_page" @click="cur_page=total_page,channgePage()" v-if="cur_page!=total_page"><a>最后一页</a></li>
                </ul>
                </div>

                <div class="col-lg-12 col-lg-4 col-sm-4 col-sm-4 my-itdct" >

                        <h1>个人信息</h1>
                        <br/>
                        <ul class="my-ul">
                            <li>昵称：搞笑疯</li>
                            <br/>
                            <li>年龄：18</li>
                            <br/>
                            <li>籍贯：山东荣成</li>
                            <br/>
                            <li>学历：本科</li>
                            <br/>
                            <li>民族：汉</li>
                        </ul>
                        <br/>
                        <h1>联系方式</h1>
                        <ul class="my-ul">
                            <li>qq：709299853</li>
                            <br/>
                            <li>地址：文化西路180号</li>
                        </ul>
                        <br/>
                        <h1>兴趣爱好</h1>
                        <div>
                            <ul class="my-ul">
                                <li><img src="../img/sleep.jpg" width="100px" height="100px"/></li>
                            </ul>
                        </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script>

var vm_user=new Vue({
    el:'#v_user',
    data:{
        nickname:'未登录',
        username:'',
        id:''
    },
    created:function(){
                        this.nickname = getQueryVariable('nickname');
                        this.username = getQueryVariable('username');
                        this.id = getQueryVariable('id');
                        this.determinLoginByCookie();
                    },
    methods:{
        determinLoginByCookie:function() {
          $.ajax({
                                                    type: 'post',
                                                    sync: false,
                                                    url:  'http://localhost:8848/guest/determineLogin',
                                                    contentType: 'application/json;charset=UTF-8',
                                                    dataType: 'json',
                                                    success: function (result) {
                                                    if(result.code==200){
                                                        var msg =result.message;
                                                      vm_user.username = msg.username;
                                                      vm_user.id = msg.id;
                                                      vm_user.nickname = msg.nickname;
                                                    }

                                                }
                                            });

        }

    }
})

</script>

</body>
</html>