<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <link rel="icon" href="./back/icon.jpg" type="image/ico">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/mycss/introduction.css" rel="stylesheet">
    <link href="../css/mycss/mycss.css" rel="stylesheet">
    <link rel="stylesheet" href="../js/editor.md/examples/css/style.css" />
    <link rel="stylesheet" href="../js/editor.md/css/editormd.preview.css" />
    <script src="../js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="../js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../js/vue.min.js" type="application/javascript"></script>
    <script src="../js/editor.md/lib/marked.min.js"></script>
    <script src="../js/editor.md/lib/prettify.min.js"></script>
    <script src="../js/editor.md/lib/raphael.min.js"></script>
    <script src="../js/editor.md/lib/underscore.min.js"></script>
    <script src="../js/editor.md/lib/sequence-diagram.min.js"></script>
    <script src="../js/editor.md/lib/flowchart.min.js"></script>
    <script src="../js/editor.md/lib/jquery.flowchart.min.js"></script>
    <script src="../js/editor.md/editormd.js"></script>



<link href="back/css/materialdesignicons.min.css" rel="stylesheet">
<link href="back/css/style.min.css" rel="stylesheet">
<link href="back/css/animate.css" rel="stylesheet">
<script src="back/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="back/js/lightyear.js"></script>

</head>
<body>
<nav class="navbar navbar-default my-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img  class="my-logo" alt="GAO" src="../img/logo.jpg"  >

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left my-search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default ">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" id ="v_user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >{{nickname}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li v-if="id==-1"><a href="./login.html" >登录</a></li>
                        <li v-if="id!=-1"><a :href="'./guest_info.html?id='+id+'&uname='+username+'&nname='+nickname" >个人资料</a></li>
                        <li role="separator" class="divider" v-if="id!=-1"></li>
                        <li v-if="id!=-1"><a href="javascript:logout()">注销登录</a></li>

                        <script>
                               function logout(){
                                    $.ajax({
                                                                                                                                                  type: 'post',
                                                                                                                                                  sync: false,
                                                                                                                                                  url:  'http://localhost:8848/guest/logout',
                                                                                                                                                  contentType: 'application/json;charset=UTF-8',
                                                                                                                                                  dataType: 'json',
                                                                                                                                                  success: function (result) {
                                                                                                                                                           if(result.code==200){
                                                                                                                                                                   lightyear.notify('注销成功!', 'info', 2000, 'mdi mdi-emoticon-happy', 'top', 'center');
                                                                                                                                                                   vm_user.username = null;
                                                                                                                                                                   vm_user.id = -1;
                                                                                                                                                                   vm_user.nickname = '未登录';
                                                                                                                                                           }
                                                                                                                                                  }
                                                                                              });
                               }
                        </script>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<img src="../img/wh.jpg" width="80%" height="150px">

<div class="panel panel-default my-panel">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-lg-12 col-sm-12 col-sm-12" id="gdetails">
                    <div >
                        <div>
                            <span class="my-details-tittle" aria-hidden="true">{{content.tittle}}</span>
                        </div>
                        <div class="my-details-user">
                            <span >观看数: 10</span>
                            <span >评论数: 10</span>
                        </div>
                        <div>
                            <span class="label label-info">标签</span>
                        </div>
                        <div class="my-details-user">{{content.gmt_updated}}</div>

                        <div id="test-editormd-view2" class="panel panel-default">
                            <textarea  id="append-test" style="display:none;">{{text}}</textarea>
                        </div>

                        <script type="text/javascript">
                            $(function() {
                                var testEditormdView, testEditormdView2;

                                $.get("../js/editor.md/test.md", function(markdown) {

                                    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                                        markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                                        //toc             : false,
                                        tocm            : true,    // Using [TOCM]
                                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                                        //gfm             : false,
                                        //tocDropdown     : true,
                                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                                        emoji           : true,
                                        taskList        : true,
                                        tex             : true,  // 默认不解析
                                        flowChart       : true,  // 默认不解析
                                        sequenceDiagram : true,  // 默认不解析
                                    });

                                    //console.log("返回一个 jQuery 实例 =>", testEditormdView);

                                    // 获取Markdown源码
                                    //console.log(testEditormdView.getMarkdown());

                                    //alert(testEditormdView.getMarkdown());
                                });

                                testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                                    emoji           : true,
                                    taskList        : true,
                                    tex             : true,  // 默认不解析
                                    flowChart       : true,  // 默认不解析
                                    sequenceDiagram : true,  // 默认不解析
                                });
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default my-panel" id="v_comment">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-lg-12 col-sm-12 col-sm-12">
                    <div class="my-reply" @click="show_ta=true"><a  class="reply_link">回复</a></div>
                    <div class="my-comment-reply" v-if="show_ta">
                                        <textarea class="form-control" rows="3" placeholder="请输入内容" v-model="reply"></textarea>
                                        <button class="btn btn-default my-question-edit" @click="submitComment()">提交</button>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" v-if="code==200" v-for="comment in comment_list" ><div><span>{{comment.author_nickname}}</span><span>：</span><span >{{comment.content}}</span></div><div class="my-t-date"><span>发表日期：{{comment.gmt_updated}} </span></div></li>
                    </ul>
                </div>

                <!--<script>-->
                <!--$(".reply_link").click(function(){-->
                <!--$(".reply").after("<div><textarea>dddd</textarea></div>");-->
                <!--})-->
                <!--</script>-->

            </div>
        </div>
    </div>
</div>


<script>
        //window.onload = function(){
            var url="http://localhost:8848/articles/details/";
            var vm = new Vue({
                el:'#gdetails',
                data:{
                    code: 0,
                    content:{},
                    text:''
                },
                created:function(){
                    this.getContent();
                },
                mounted:function(){
                },
                methods:{
                    getQueryVariable:function (variable){
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                            if(pair[0] == variable){return pair[1];}
                        }
                    return(false);
                    },

                    getContent:function(){
                        $.ajax({
                            type: 'post',
                            sync: true,
                            //contentType: "application/x-www-form-urlencoded; charset=utf-8",//x-www-form-urlencoded
                            url:  url+this.getQueryVariable("id"),
                            data:{
                            },
                            dataType: 'json',
                            success: function (result) {
                                //console.log(result);
                                vm.code = result.code;
                                //console.log(vm.code);
                                vm.content = result.message;
                                vm.text = vm.content.content;
                                //console.log(vm.content);

                            }
                        });
                    }
                }
            });

            //
            var vm_user=new Vue({
                el:'#v_user',
                data:{
                    nickname:'未登录',
                    username:'',
                    id:''
                },
                created:function(){
                                    this.determinLoginByCookie();
                                },
                methods:{
                    determinLoginByCookie:function() {
                      $.ajax({
                                                                type: 'post',
                                                                sync: false,
                                                                url:  'http://localhost:8848/guest/determineLogin',
                                                                contentType: 'application/json;charset=UTF-8',
                                                                dataType: 'json',
                                                                success: function (result) {
                                                                if(result.code==200){
                                                                    var msg =result.message;
                                                                  vm_user.username = msg.username;
                                                                  vm_user.id = msg.id;
                                                                  vm_user.nickname = msg.nickname;
                                                                }
                                                                else {
                                                                    vm_user.username = null;
                                                                    vm_user.id = -1;
                                                                    vm_user.nickname = '未登录';
                                                                }

                                                            }
                                                        });

                    }

                }
            });
       // }
             var vm_comment=new Vue({
                            el:'#v_comment',
                            data:{
                               comment_list:[],
                               show_ta:false,
                               code:0,
                               reply:'',
                            },
                            created:function(){
                                                this.getComment();
                                            },
                            methods:{
                                getQueryVariable:function (variable){
                                                        var query = window.location.search.substring(1);
                                                        var vars = query.split("&");
                                                        for (var i=0;i<vars.length;i++) {
                                                        var pair = vars[i].split("=");
                                                            if(pair[0] == variable){return pair[1];}
                                                        }
                                                    return(false);
                                                    },
                                getComment:function() {
                                  $.ajax({
                                                                            type: 'post',
                                                                            sync: false,
                                                                            url:  'http://localhost:8848/articles/comment/'+this.getQueryVariable("id"),
                                                                            contentType: 'application/json;charset=UTF-8',
                                                                            dataType: 'json',
                                                                            success: function (result) {
                                                                            if(result.code==200){
                                                                                vm_comment.code=200;
                                                                              vm_comment.comment_list= result.message;
                                                                            }

                                                                        }
                                                                    });

                                },
                                writeCurrentDate:function() {
                                        var now = new Date();
                                        var year = now.getFullYear(); //得到年份
                                        var month = now.getMonth();//得到月份
                                        var date = now.getDate();//得到日期
                                        var day = now.getDay();//得到周几
                                        var hour = now.getHours();//得到小时
                                        var minu = now.getMinutes();//得到分钟
                                        var sec = now.getSeconds();//得到秒
                                　　     var MS = now.getMilliseconds();//获取毫秒
                                        var week;
                                        month = month + 1;
                                        if (month < 10) month = "0" + month;
                                        if (date < 10) date = "0" + date;
                                        if (hour < 10) hour = "0" + hour;
                                        if (minu < 10) minu = "0" + minu;
                                        if (sec < 10) sec = "0" + sec;
                                        if (MS < 100)MS = "0" + MS;
                                        var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
                                        week = arr_week[day];
                                        var time = "";
                                        time = year + "-" + month + "-" + date  + " " + hour + ":" + minu  ;
                                       return time;
                                      },
                                submitComment:function() {
                                       //alert(vm_comment.reply);
                                       if(vm_user.id==-1){
                                         //alert('请先登录！');
                                         lightyear.notify('请先登录！', 'danger', 2000, 'mdi mdi-emoticon-sad', 'bottom', 'center');
                                         return;
                                       }
                                        $.ajax({
                                                     type: 'post',
                                                     sync: false,
                                                     url:  'http://localhost:8848/articles/comment/reply',
                                                     contentType: 'application/json;charset=UTF-8',
                                                     dataType: 'json',
                                                      data:JSON.stringify({
                                                                                author_id:vm_user.id,
                                                                                article_id:this.getQueryVariable('id'),
                                                                                content:vm_comment.reply,
                                                                                   }),
                                                     success: function (result) {
                                                              if(result.code==200){
                                                                      lightyear.notify('评论成功!', 'info', 2000, 'mdi mdi-emoticon-happy', 'bottom', 'center');
                                                                      var comment_add ={
                                                                        author_nickname:vm_user.nickname,
                                                                        content:vm_comment.reply,
                                                                        gmt_updated:vm_comment.writeCurrentDate()
                                                                      };
                                                                      vm_comment.comment_list.push(comment_add);
                                                                      vm_comment.reply='';
                                                                      vm_comment.show_ta=false;
                                                              }

                                                     }
                                        });
                                }

                            }

                        });


    </script>

</body>
</html>