body {
    width: 100%;
    height:100%;
    text-align: center;
    background-color: #dff0d8;
}
.my-itdct{
    background: #66afe9;
}

.my-ul{
    color:white;
    padding-left:30%;
    padding-right: 30%;
    text-align:left;
}

h1{
    padding-left:20%;
    padding-right: 20%;
}
p{
    font-size:20px;
}


