.my-panel{
    width: 80%;
    margin: 0 auto;
}

.my-font{
    color: red;
}

ul{
    text-align: left;
}

.my-logo{
    margin: 5px auto;
    height:40px;
    width:40px;
}

.my-tittle{
    font-size:24px;
    color: black;
    margin-bottom: 7px;
}
.my-t-date{
    font-size: 13px;
    color: grey;
}

.my-submit{
    float: right;
}


.my-question-icon {
    float: left;
    width: 53px;
    height: 53px;
    margin-right:20px ;
}
.my-question-words{
    float: left;
}

.my-question-tittle{
    font-size: 25px;
    font-style: normal;
    color: midnightblue;
}

.my-question-counts{
    font-size: 13px;
    font-style: normal;
    color: darkgray;
}
.my-question-item{
    margin-bottom: 10px;
}

.my-details-tittle{
    font-size: 30px;
    margin-bottom: 20px;
}
.my-details-user{
    color: darkgrey;
}
.my-question-edit{
    float: left;
}

.my-search{
    left:35%;
    position: absolute;
}
.my-reply{
    width:40px;
}

.my-nav{
    background: lightgoldenrodyellow;
}

.my-comment-reply{
    margin-bottom: 40px;
}

